body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* --- Game Board --- */

#spielbrett {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
    gap: 5px;
    transform-style: preserve-3d;
    transform: rotateX(55deg) rotateZ(45deg);
}

.feld {
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
}

.wuerfel {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(5px);
    transition: transform 200ms ease-in-out;
}

.wuerfel-flaeche {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.7);
    transition: background-color ease-in-out 0.1s;
    border-radius: 3px;
}

.wuerfel-flaeche.oben { background-color: #ecf0f1 }
.feld.pink .wuerfel-flaeche.oben   { background-color: #E9B8F5 }
.feld.gruen .wuerfel-flaeche.oben { background-color: #DCF5B8 }
.feld.blau .wuerfel-flaeche.oben  { background-color: #B8E9F5 }
.feld.orange .wuerfel-flaeche.oben  { background-color: #F5D5B8 }

.wuerfel:has(.wuerfel-flaeche:hover) > .wuerfel-flaeche {
    background-color: #888888;
    transition-duration: 0s;
}

.wuerfel:has(.wuerfel-flaeche:active){
    transform: translateZ(-10px);
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.oben { transform: rotateY(0deg) translateZ(25px); }
.vlinks { transform: rotateX(-90deg) translateZ(25px); }
.vrechts{ transform: rotateY(90deg) translateZ(25px); }
.unten { transform: rotateY(0deg) translateZ(-25px); }
.hlinks { transform: rotateX(90deg) translateZ(25px); }
.hrechts{ transform: rotateY(-90deg) translateZ(25px); }


.spielfigur-final {
    position: relative;
    width: 40px;
    height: 60px;
    cursor: grab;
    transform-style: preserve-3d;
    z-index: 100;
    transform: rotateZ(-45deg) rotateX(-55deg) translateY(-25px) translateZ(25px);
    transition: transform 0.3s ease-in-out;
}

.spielfigur-final::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 15%;
    width: 70%;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    filter: blur(8px);
    z-index: -2;
    transition: all 0.3s ease;
}

.spielfigur-final .koerper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, var(--color-light), var(--color-dark));
    clip-path: polygon(15% 100%, 50% 0%, 85% 100%);
}

.spielfigur-final .kopf {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    background: radial-gradient(circle at 15px 15px, var(--color-light), var(--color-base));
    border-radius: 50%;
    z-index: 10;
    box-shadow: inset -3px -3px 8px rgba(0,0,0,0.2);
}

.spielfigur-final .ohr {
    position: absolute;
    top: -5px;
    width: 12px;
    height: 13px;
    overflow: hidden;
}

.spielfigur-final .ohr::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: var(--color-darker);
}

.spielfigur-final .ohr-links {
    left: -1px;
    transform: rotate(-15deg);
}
.spielfigur-final .ohr-links::after {
    top: 4px;
    left: -7px;
    transform: rotate(45deg);
}

.spielfigur-final .ohr-rechts {
    right: -1px;
    transform: rotate(15deg);
}
.spielfigur-final .ohr-rechts::after {
    top: 4px;
    right: -7px;
    transform: rotate(-45deg);
}


.spielfigur-final .schwanz {
    position: absolute;
    bottom: 9px;
    left: 1px;
    width: 12.5px;
    height: 20px;
    background: transparent;
    border: 3px solid var(--color-dark);
    border-color: transparent var(--color-dark) var(--color-dark) transparent;
    border-radius: 0 50% 50% 0;
    transform: rotate(25deg);
    z-index: -1;
}

.spielfigur-final .schwanz::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-40%, 40%);
    width: 10px;
    height: 10px;
    background: radial-gradient(circle at 5px 5px, var(--color-light), var(--color-base));
    border-radius: 50%;
}


/* --- Colors --- */

.spielfigur-final.gruen {
    --color-base: #DCF5B8;
    --color-light: #F0FBE0;
    --color-dark: #B8D992;
    --color-darker: #93B370;
}

.spielfigur-final.orange {
    --color-base: #F5D5B8;
    --color-light: #FFF0E0;
    --color-dark: #D9B392;
    --color-darker: #B38F70;
}

.spielfigur-final.blau {
    --color-base: #B8E9F5;
    --color-light: #E0F7FF;
    --color-dark: #92C8D9;
    --color-darker: #70A2B3;
}

.spielfigur-final.pink {
    --color-base: #E9B8F5;
    --color-light: #F7E0FF;
    --color-dark: #C892D9;
    --color-darker: #A270B3;
}