body {
    flex-direction: column;
}

.kat-logo {
    font-size: 100px;
    margin: 0;
    background-color: #fff;
    color: #000;
}

.menu-container {
    display: flex;
    gap: 25px;
    padding: 20px;
}

.menu-button {
    color: black;
    padding: 20px 40px;
    border: 3px solid black;
    box-shadow: 6px 6px #aaaaaa;
    transition: background-color 0.2s ease, transform 0.15s ease, box-shadow 0.15s ease, color 0.2s ease;
    cursor: pointer;
}

.menu-button:hover {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px #888888;
}

.menu-button:active {
    transform: translate(6px, 6px);
    box-shadow: 0 0 #333333;
}

#rules-button:hover {
    background-color: #E9B8F5;
}

#play-button:hover {
    background-color: #DCF5B8;
}

#settings-button:hover {
    background-color: #B8E9F5;
}